.text-graphviz
  .body-top-line
    %hr
  .body
    .part-left
      %textarea{rows:"20", cols:"70"}
    .part-center
      %hr{align: "center", width: "1px",size:"310px"}
    .part-right
      %textarea{rows:"20", cols:"70"}
  .body-footer-line
    %hr
  .middle-line
    %hr

  .footer-button
    %button.text-to-graphviz 把 a|->|b 列表格式文本转换为 Graphviz 源码格式
  

  .footer-line
    %hr
