.graphviz-to-gml
  .body-top-line
    %h2 Graphviz 源码转换成gml代码（dot->gml）
    %hr
  .body
    .part-left
      %textarea{rows:"20", cols:"70"}
    .part-center
      %hr{align: "center", width: "1px",size:"310px"}
    .part-right
      %textarea{rows:"20", cols:"70"}
  .body-footer-line
    %hr
  .middle-line
    %hr

  .footer-button
    %button.text-to-graphviz{:title =>"Graphviz的源码(dot文件)转换成gml文件格式"} Graphviz 源码转换成gml代码
  

  .footer-line
    %hr