.text-conversion
  .body-top-line
    %hr
  .body
    .part-left
      %textarea{rows:"20", cols:"70"}
    .part-center
      %hr{align: "center", width: "1px",size:"310px"}
    .part-right
      %textarea{rows:"20", cols:"70"}
  .body-footer-line
    %hr
  .middle-line
    %hr

  .footer-button
    %button.colon "冒号改换行符批处理"
    %button.chinese-sequence-paren "带(中文序号)的内容小节拆分"
    %button.figure-sequence "带阿拉伯数字序号的内容小节拆分"
    %button.chinese-sequence "带中文序号的内容小节拆分"

  .footer-line
    %hr
