%h2 数据转换列表

%a{:href=>"/irregular_data_transforms",:title =>"?"} 银行文档章节转换
%a{:href=>"/irregular_data_transforms/query_mind_photograph"}查询思路生成图
%a{:href=>"/json_datas/new"} 录入思路

%hr

%a{:href=>"/transfer"} graphml文件转换为 a|->|b 数据
%a{:href=>"/irregular_data_transforms/graphviz_to_gml"} Graphviz 源码转换成gml代码（dot->gml）
%a{:href=>"/irregular_data_transforms/save_and_query_jsons"} json数据的储存和查找

%hr

%a{:href=>"/irregular_data_transforms/graphviz"} a|->|b 数据 转换为graphviz并且处理标签
%a{:href=>"/irregular_data_transforms/xml2json"} xml代码转换为json数据并存入数据库
 
