.text-xml2json
  .body-top-line
    %h2 xml代码和json数据相互转换
    %hr
  .body
    .part-left
      %textarea{rows:"20", cols:"70"}
    .part-center
      %hr{align: "center", width: "1px",size:"310px"}
    .part-right
      %textarea{rows:"20", cols:"70"}
  .footer-button
    %button.xml-to-json xml -> json + json数据的储存
    %button.json-to-xml json -> xml
    %button.xml-to-json-a-b  (另一种xml转json) questionnet_to_json + json数据的储存
  %hr
  %h4 组合业务：
  
