.text-xml2json
  .body-top-line
    %h2 xml代码转换为json数据并存入数据库
    %hr
  .body
    .part-left
      %textarea{rows:"20", cols:"70"}
    .part-center
      %hr{align: "center", width: "1px",size:"310px"}
    .part-right
      %textarea{rows:"20", cols:"70"}
  .body-footer-line
    %hr
  .middle-line
    %hr

  .footer-button
    %button.xml-to-json xml -> json
    %button.json-to-xml json -> xml
    %button.xml-to-json-a-b xml -> json(a->b)

  .footer-line
    %hr