.header
  %h4 所做业务列表：
  %a{:href=>"/irregular_data_transforms",:title =>"?"} 1 银行文档章节转换和对话泡泡文本格式转换
  %a{:href=>"/irregular_data_transforms/query_mind_photograph"}2 录入数据和查询思路生成图
  / %a{:href=>"/json_datas/new"} 录入思路
  %a{:href=>"/transfer"} 3 拖放graphml文件转换为 a|->|b 数据
  %a{:href=>"/irregular_data_transforms/graphviz_to_gml"} 4 Graphviz 源码转换成gml代码（dot->gml）
  %a{:href=>"/irregular_data_transforms/save_and_query_jsons"} 5 json数据的储存和查找
  %a{:href=>"/irregular_data_transforms/graphviz"} 6 a|->|b 数据 转换为graphviz并且处理标签
  %a{:href=>"/irregular_data_transforms/xml2json"} 7 (opml)xml代码与json数据相互转换
  %hr
 
